<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  
  <?define CrestronNetworkMonitorWPFUI_TargetDir=$(var.CrestronNetworkMonitorWPFUI.TargetDir)?>
  <?define ThreeByteLibrary.Dotnet_TargetDir=$(var.ThreeByteLibrary.Dotnet.TargetDir)?>
	<Product Id="*" Name="Crestron Network Monitor" Language="1033" Version="!(bind.FileVersion.Crestron_Network_MonitorEXE)" 
           Manufacturer="Three Byte Intermedia" UpgradeCode="df4d074f-9888-4e48-ba2d-41c2ef2907cc">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="Crestron Network Monitor Setup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

    <Icon Id="Icon.ico" SourceFile="$(var.CrestronNetworkMonitorWPFUI_TargetDir)Icon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="Icon.ico" />
	</Product>

	<Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ThreeByteSoftware" Name="Three Byte Intermedia">
          <Directory Id="INSTALLFOLDER" Name="Crestron Network Monitor">
            <Directory Id="StartupFolder" Name="Startup" />
            <Directory Id="DesktopFolder" Name="Desktop" />
          </Directory>
		      </Directory>
        </Directory>
    </Directory>
  </Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->


      <Component Id="appsettings.json" Guid="*">
        <File Id="appsettingsjson" Name="appsettings.json" Source="$(var.CrestronNetworkMonitorWPFUI_TargetDir)appsettings.json" />
      </Component>
      <Component Id="Crestron_Network_Monitor.exe" Guid="1fc6ec88-fa03-4525-bbd4-6a928196934b">
        <File Id="Crestron_Network_Monitorexe" Name="Crestron Network Monitor.exe" Source="$(var.CrestronNetworkMonitorWPFUI_TargetDir)Crestron Network Monitor.exe" />
      </Component>
			<Component Id="Crestron_Network_Monitor.runtimeconfig.json" Guid="1fc6ec88-fa03-4525-bbd4-6a928196934a">
			  <File Id="Crestron_Network_Monitor.runtimeconfig.json" Name="Crestron Network Monitor.runtimeconfig.json" Source="$(var.CrestronNetworkMonitorWPFUI_TargetDir)Crestron Network Monitor.runtimeconfig.json" />
			</Component>
			<Component Id="Microsoft.Extensions.Configuration.Binder.dll" Guid="caf1221b-949a-4ee2-b803-81874504575c">
			  <File Id="Microsoft.Extensions.Configuration.Binder.dll" Name="Microsoft.Extensions.Configuration.Binder.dll" Source="$(var.CrestronNetworkMonitorWPFUI_TargetDir)Microsoft.Extensions.Configuration.Binder.dll" />
			</Component>
			<Component Id="Microsoft.DotNet.PlatformAbstractions.dll" Guid="03da7802-b74f-437b-a169-1db911ed8b0d">
			  <File Id="Microsoft.DotNet.PlatformAbstractions.dll" Name="Microsoft.DotNet.PlatformAbstractions.dll" Source="$(var.CrestronNetworkMonitorWPFUI_TargetDir)Microsoft.DotNet.PlatformAbstractions.dll" />
			</Component>
			<Component Id="Newtonsoft.Json.dll" Guid="073c089a-6188-4ee6-ae07-a38bdd0b628a">
			  <File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.CrestronNetworkMonitorWPFUI_TargetDir)Newtonsoft.Json.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Logging.Abstractions.dll" Guid="957ac87b-893f-41de-ae08-501b66fde634">
			  <File Id="Microsoft.Extensions.Logging.Abstractions.dll" Name="Microsoft.Extensions.Logging.Abstractions.dll" Source="$(var.CrestronNetworkMonitorWPFUI_TargetDir)Microsoft.Extensions.Logging.Abstractions.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Logging.dll" Guid="4e3b9e5d-41fc-4a08-8b1b-b74a72b45d9e">
			  <File Id="Microsoft.Extensions.Logging.dll" Name="Microsoft.Extensions.Logging.dll" Source="$(var.CrestronNetworkMonitorWPFUI_TargetDir)Microsoft.Extensions.Logging.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Options.dll" Guid="aa3a6361-1df3-408b-9953-560b5437ea56">
			  <File Id="Microsoft.Extensions.Options.dll" Name="Microsoft.Extensions.Options.dll" Source="$(var.CrestronNetworkMonitorWPFUI_TargetDir)Microsoft.Extensions.Options.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.DependencyInjection.dll" Guid="4f23cffa-6c06-472e-8e13-7344297e9bcd">
			  <File Id="Microsoft.Extensions.DependencyInjection.dll" Name="Microsoft.Extensions.DependencyInjection.dll" Source="$(var.CrestronNetworkMonitorWPFUI_TargetDir)Microsoft.Extensions.DependencyInjection.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.FileProviders.Physical.dll" Guid="c12cfccf-4616-49fe-84a4-d73affc96f8d">
			  <File Id="Microsoft.Extensions.FileProviders.Physical.dll" Name="Microsoft.Extensions.FileProviders.Physical.dll" Source="$(var.CrestronNetworkMonitorWPFUI_TargetDir)Microsoft.Extensions.FileProviders.Physical.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.FileSystemGlobbing.dll" Guid="f5c728fb-2e55-47b1-b6ac-c5bd2283b17c">
			  <File Id="Microsoft.Extensions.FileSystemGlobbing.dll" Name="Microsoft.Extensions.FileSystemGlobbing.dll" Source="$(var.CrestronNetworkMonitorWPFUI_TargetDir)Microsoft.Extensions.FileSystemGlobbing.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Configuration.CommandLine.dll" Guid="8fc2c2fe-27a6-4b23-aced-5b75f8b05711">
			  <File Id="Microsoft.Extensions.Configuration.CommandLine.dll" Name="Microsoft.Extensions.Configuration.CommandLine.dll" Source="$(var.CrestronNetworkMonitorWPFUI_TargetDir)Microsoft.Extensions.Configuration.CommandLine.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Configuration.UserSecrets.dll" Guid="006eeba2-a42f-42d1-a51b-f0902e7381dc">
			  <File Id="Microsoft.Extensions.Configuration.UserSecrets.dll" Name="Microsoft.Extensions.Configuration.UserSecrets.dll" Source="$(var.CrestronNetworkMonitorWPFUI_TargetDir)Microsoft.Extensions.Configuration.UserSecrets.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Logging.EventLog.dll" Guid="6a1cda81-6ea9-4b77-beb0-84d5da8ca9ae">
			  <File Id="Microsoft.Extensions.Logging.EventLog.dll" Name="Microsoft.Extensions.Logging.EventLog.dll" Source="$(var.CrestronNetworkMonitorWPFUI_TargetDir)Microsoft.Extensions.Logging.EventLog.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Logging.Configuration.dll" Guid="5d359ca7-783a-4424-988f-f7db668ebd3c">
			  <File Id="Microsoft.Extensions.Logging.Configuration.dll" Name="Microsoft.Extensions.Logging.Configuration.dll" Source="$(var.CrestronNetworkMonitorWPFUI_TargetDir)Microsoft.Extensions.Logging.Configuration.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Options.ConfigurationExtensions.dll" Guid="e0544727-4375-413e-9623-5c792e0979d1">
			  <File Id="Microsoft.Extensions.Options.ConfigurationExtensions.dll" Name="Microsoft.Extensions.Options.ConfigurationExtensions.dll" Source="$(var.CrestronNetworkMonitorWPFUI_TargetDir)Microsoft.Extensions.Options.ConfigurationExtensions.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Logging.Console.dll" Guid="1e6f1dc9-3785-4c94-b2bc-ff9f9b2e7d12">
			  <File Id="Microsoft.Extensions.Logging.Console.dll" Name="Microsoft.Extensions.Logging.Console.dll" Source="$(var.CrestronNetworkMonitorWPFUI_TargetDir)Microsoft.Extensions.Logging.Console.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.FileProviders.Abstractions.dll" Guid="efa51f29-7cca-434b-b01d-4fd4694bc6cd">
			  <File Id="Microsoft.Extensions.FileProviders.Abstractions.dll" Name="Microsoft.Extensions.FileProviders.Abstractions.dll" Source="$(var.CrestronNetworkMonitorWPFUI_TargetDir)Microsoft.Extensions.FileProviders.Abstractions.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Logging.Debug.dll" Guid="7243bd6a-c4a2-4e9b-b42f-90c8b776894e">
			  <File Id="Microsoft.Extensions.Logging.Debug.dll" Name="Microsoft.Extensions.Logging.Debug.dll" Source="$(var.CrestronNetworkMonitorWPFUI_TargetDir)Microsoft.Extensions.Logging.Debug.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Primitives.dll" Guid="0c4a98eb-14dd-49f2-b01b-2fb84675ab1e">
			  <File Id="Microsoft.Extensions.Primitives.dll" Name="Microsoft.Extensions.Primitives.dll" Source="$(var.CrestronNetworkMonitorWPFUI_TargetDir)Microsoft.Extensions.Primitives.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Configuration.Json.dll" Guid="1b348bb7-8dc4-4080-9c12-6e26505441ae">
			  <File Id="Microsoft.Extensions.Configuration.Json.dll" Name="Microsoft.Extensions.Configuration.Json.dll" Source="$(var.CrestronNetworkMonitorWPFUI_TargetDir)Microsoft.Extensions.Configuration.Json.dll" />
			</Component>
			<Component Id="Crestron_Network_Monitor.dll" Guid="bba2f9b2-d9b9-491f-bfbe-9ec72fb58f69">
			  <File Id="Crestron_Network_Monitor.dll" Name="Crestron Network Monitor.dll" Source="$(var.CrestronNetworkMonitorWPFUI_TargetDir)Crestron Network Monitor.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Configuration.dll" Guid="4d4cb2a9-af4b-4493-9c51-cc45272b9ea2">
			  <File Id="Microsoft.Extensions.Configuration.dll" Name="Microsoft.Extensions.Configuration.dll" Source="$(var.CrestronNetworkMonitorWPFUI_TargetDir)Microsoft.Extensions.Configuration.dll" />
			</Component>
			<Component Id="Serilog.dll" Guid="a550f201-f1f8-4b86-aa87-fd008304e4ad">
			  <File Id="Serilog.dll" Name="Serilog.dll" Source="$(var.CrestronNetworkMonitorWPFUI_TargetDir)Serilog.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Configuration.Abstractions.dll" Guid="1a0eb561-ea06-4c5e-80a9-b2a8db9e5a01">
			  <File Id="Microsoft.Extensions.Configuration.Abstractions.dll" Name="Microsoft.Extensions.Configuration.Abstractions.dll" Source="$(var.CrestronNetworkMonitorWPFUI_TargetDir)Microsoft.Extensions.Configuration.Abstractions.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Hosting.Abstractions.dll" Guid="e24795a1-520a-43f0-bb19-c747e49e0503">
			  <File Id="Microsoft.Extensions.Hosting.Abstractions.dll" Name="Microsoft.Extensions.Hosting.Abstractions.dll" Source="$(var.CrestronNetworkMonitorWPFUI_TargetDir)Microsoft.Extensions.Hosting.Abstractions.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Guid="201a7193-ff04-479f-907e-31d0a3104c6d">
			  <File Id="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Name="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Source="$(var.CrestronNetworkMonitorWPFUI_TargetDir)Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
			</Component>
			<Component Id="Serilog.Settings.Configuration.dll" Guid="411b2db3-dbc0-4a6c-9ccb-ff3f3ae6f78b">
			  <File Id="Serilog.Settings.Configuration.dll" Name="Serilog.Settings.Configuration.dll" Source="$(var.CrestronNetworkMonitorWPFUI_TargetDir)Serilog.Settings.Configuration.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.DependencyModel.dll" Guid="a3a0be91-c0c1-43bc-a934-e497b312b92e">
			  <File Id="Microsoft.Extensions.DependencyModel.dll" Name="Microsoft.Extensions.DependencyModel.dll" Source="$(var.CrestronNetworkMonitorWPFUI_TargetDir)Microsoft.Extensions.DependencyModel.dll" />
			</Component>
			<Component Id="Serilog.Sinks.Console.dll" Guid="4222a17e-657a-4a4f-b4f7-99f4a2cb8842">
			  <File Id="Serilog.Sinks.Console.dll" Name="Serilog.Sinks.Console.dll" Source="$(var.CrestronNetworkMonitorWPFUI_TargetDir)Serilog.Sinks.Console.dll" />
			</Component>
			<Component Id="Serilog.Sinks.EventLog.dll" Guid="b9c8a514-4caa-41f5-98c3-a7be84d8b8ec">
			  <File Id="Serilog.Sinks.EventLog.dll" Name="Serilog.Sinks.EventLog.dll" Source="$(var.CrestronNetworkMonitorWPFUI_TargetDir)Serilog.Sinks.EventLog.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Hosting.dll" Guid="1cbda005-adc2-4ea6-b4d5-d4d6a45473d3">
			  <File Id="Microsoft.Extensions.Hosting.dll" Name="Microsoft.Extensions.Hosting.dll" Source="$(var.CrestronNetworkMonitorWPFUI_TargetDir)Microsoft.Extensions.Hosting.dll" />
			</Component>
			<Component Id="Serilog.Extensions.Hosting.dll" Guid="73040e68-4721-476b-9f1d-bb7bc477c0e1">
			  <File Id="Serilog.Extensions.Hosting.dll" Name="Serilog.Extensions.Hosting.dll" Source="$(var.CrestronNetworkMonitorWPFUI_TargetDir)Serilog.Extensions.Hosting.dll" />
			</Component>
			<Component Id="Serilog.Extensions.Logging.dll" Guid="65464cbd-c982-4fa2-9964-5f3cea26697b">
			  <File Id="Serilog.Extensions.Logging.dll" Name="Serilog.Extensions.Logging.dll" Source="$(var.CrestronNetworkMonitorWPFUI_TargetDir)Serilog.Extensions.Logging.dll" />
			</Component>
			<Component Id="ThreeByteLibrary.Dotnet.dll" Guid="d2ead1ae-03d6-4f22-bbaf-1c9c2ab9fd4f">
			  <File Id="ThreeByteLibrary.Dotnet.dll" Name="ThreeByteLibrary.Dotnet.dll" Source="$(var.ThreeByteLibrary.Dotnet_TargetDir)ThreeByteLibrary.Dotnet.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Configuration.FileExtensions.dll" Guid="7f9225cf-c0e4-496a-ae6c-7d9437c11124">
			  <File Id="Microsoft.Extensions.Configuration.FileExtensions.dll" Name="Microsoft.Extensions.Configuration.FileExtensions.dll" Source="$(var.CrestronNetworkMonitorWPFUI_TargetDir)Microsoft.Extensions.Configuration.FileExtensions.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Configuration.EnvironmentVariables.dll" Guid="e27406eb-6cb2-4f9d-97d0-cc3538156c79">
			  <File Id="Microsoft.Extensions.Configuration.EnvironmentVariables.dll" Name="Microsoft.Extensions.Configuration.EnvironmentVariables.dll" Source="$(var.CrestronNetworkMonitorWPFUI_TargetDir)Microsoft.Extensions.Configuration.EnvironmentVariables.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Logging.EventSource.dll" Guid="b89beba5-6e82-4ae9-b274-16503da927e2">
			  <File Id="Microsoft.Extensions.Logging.EventSource.dll" Name="Microsoft.Extensions.Logging.EventSource.dll" Source="$(var.CrestronNetworkMonitorWPFUI_TargetDir)Microsoft.Extensions.Logging.EventSource.dll" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
